
  
  /* Technology cards styling */
  .tech-card {
    position: relative;
    padding: 10px;
    background-color: var(--customBlue); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .tech-card span {
    position: relative;
    z-index: 10;
  }
  
  .tech-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    opacity: 0.15;
    border-radius: 8px;
    z-index: 0;
  }

  
#home {
    background-image: url('img/hero.png'); 
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    
    
    
}


/* Optional styling for content */
#home .content {
    z-index: 1;
    position: relative;
    color: white;
}


@media (max-width: 900px) {
  #home {
    min-height: 30vh; /* Adjust the section height on smaller screens */
  }
}
@media (max-width: 650px) {
  #home {
   
    height: 500px; /* Adjust the section height on smaller screens */
  }
}

/* mobile responisve */
/* Navbar for smaller screens */
@media (max-width: 1200px) {
  header {
    display: none;
  }
  #hamburger {
    display: block;
  }
  #mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  #mobile-menu.active {
    display: flex;
  }
  
/* Hide navbar below 1200px */
@media (max-width: 1200px) {
  header {
    display: none !important; /* Ensure it overrides other styles */
  }
}
}
